/* Navbar styling */
.menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #004d99;
  padding: 10px 0;
  border-radius: 20px;
  top: 0;
  z-index: 1000;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.menu button {
  background: transparent;
  color: white;
  border: none;
  font-size: 16px;
  padding: 10px 20px;
  margin: 0 10px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: color 0.3s ease;
}

.menu button::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  height: 2px;
  background: #00c1ff;
  transition: width 0.3s ease;
}

.menu button:hover {
  color: #00c1ff;
}

.menu button:hover::before {
  width: 100%;
}

/* Reservation form container */
.reservation-form {
  padding: 20px;
  background: linear-gradient(135deg, #004d99, #00bfff21, #4cc3ff);
  border-radius: 40px;
  margin-top: 30px; /* Ajoute de l'espace entre le menu et la section home */
}

h2 {
  text-align: center;
  font-size: 2rem;
  color: #004d99;
  font-weight: bold;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: 600px;
  margin: 0 auto;
  background:linear-gradient(135deg, rgba(0, 77, 153, 0.2), rgba(0, 191, 255, 0.2), rgba(102, 204, 255, 02));
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

form label {
  font-size: 1.1rem;
  color: #333;
  font-weight: 600;
}

form input[type="text"],
form select {
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

form button {
  background-color: #004d99;
  color: white;
  font-size: 1.1rem;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

form button:hover {
  background-color: #00c1ff;
}

/* Reservation list (commented section) */
.reservation-list {
  margin-top: 30px;
}

.reservation-list ul {
  list-style-type: none;
  padding: 0;
}

.reservation-list li {
  display: flex;
  justify-content: space-between;
  background:linear-gradient(135deg, rgba(0, 77, 153, 0.2), rgba(0, 191, 255, 0.2), rgba(102, 204, 255, 02));
  margin: 10px 0;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.reservation-list button {
  background-color: #ff4d4d;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.reservation-list button:hover {
  background-color: #ff1a1a;
}

.reservation-list button.update {
  background-color: #4d94ff;
}

.reservation-list button.update:hover {
  background-color: #0066cc;
}

/* Responsive Design */
@media (max-width: 768px) {
  .menu {
    flex-direction: column;
    align-items: flex-start;
  }

  .reservation-form {
    width: 100%;
    padding: 15px;
  }

  .reservation-list li {
    flex-direction: column;
  }

  .reservation-list button {
    margin-top: 5px;
  }
}
